[Unit]
Description=KMonad for Satechi Slim-X1 keyboard
After=systemd-udev-settle.service

[Service]
Type=simple
User=jledesma44
Environment=XDG_RUNTIME_DIR=/run/user/1001
Environment=HOME=/home/jledesma44
ExecStart=/home/jledesma44/.local/bin/kmonad /home/jledesma44/.config/kmonad/config/Slim-X1.kbd
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal
